/* Add your CSS here */
html{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image:
    url('https://mdn.mozillademos.org/files/7693/catfront.png');*/
    background:url("colorcode/assets/bg.jpg")
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color:white:
    

}

#SI{
    
    opacity: 0.7;
    width: 15rem;
    height: 2rem;
    border-radius: 10px;
    color: white;
}
.buttom{
    background-color:grey;
    opacity: 0.5;
    width: 5rem;
    height: 2rem;
    border-radius: 10px;
    color:white;
}
